<p *ngIf="isLoading">Loading...</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">User Id</th>
            <th scope="col">Title</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let album of albums;">
            <th scope="row">{{ album.id }}</th>
            <td>
                {{ album.userId }}
            </td>
            <td>{{ album.title}}</td> 
            <td>
                <button (click)="viewPhotos(album.id)">View Photos</button>
            </td>           
        </tr>
    </tbody>
</table>