<p *ngIf="isLoading">Loading...</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users;">
            <th scope="row">{{ user.id }}</th>
            <td>
                {{ user.name }}
            </td>
            <td>{{ user.email}}</td>
            <td>{{ user.phone}}</td>
            <td>
                <button (click)="viewPosts(user.id)">View Posts</button>
                <button (click)="viewAlbums(user.id)">View Albums</button>
            </td>
        </tr>
    </tbody>
</table>